<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/css/global.css" />
    <link rel="stylesheet" href="/static/css/register.css" />
    <title>Register</title>
  </head>
  <body>
    <div class="container">
      <span class="title">Welcome to TecBook</span>
      <span class="register">Register</span>
      <form method="post" class="form-container">
        {{if .}}
        <div class="error">Error: {{.}}</div>
        {{end}}
        <input type="text" name="username" placeholder="Username" />
        <input type="password" name="password" placeholder="Password" />
        <input
          type="password"
          name="repeatPassword"
          placeholder="Repeat password"
        />
        <button type="submit">Submit</button>
      </form>
    </div>
  </body>
</html>
